
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
.container{
  width:1200px;
  margin:0 auto;
}

.row-center{
  display:flex;
  align-items: center;
}
.flex-center{
  display:flex;
  align-items: center;
  justify-content: center;
}

.title-20{
  height: 24px;
  font-size: 20px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #1D6242;
  line-height: 24px;
}
.sub-title{
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #454D32;
    line-height: 24px;
}
.sub-title-14{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #454D32;
    line-height: 24px;
}
.sub-title-16{
  font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(17, 17, 17, 0.88);
    line-height: 24px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}
.relative{
  position: relative;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
.preview-wrap .preview{
 
}
.preview-wrap .preview-content{
  animation: previewMove 1s;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
